
<div class="teacher-requirements licensing-step">

  <div class="teacher-requirements-header licensing-step-header">
    <h2>Step 1: Teacher Requirements</h2>
  </div>

  <div class="teacher-requirements-body licensing-step-body">

    <div class="licensing-step-input input-col">

      <div class="studentAgeDropdownContainer licensing-step-input-container">
        <label for="studentAgeDropdown">
          What age are your students?
        </label>
        <div class="box box--flush dropdown licensing-step-control">
          {{
            student-age-dropdown
            id = 'stuentAgeDropdown'
            selectedStudentAge=selectedStudentAge
            action = 'setStudentAge'
            studentAgeRanges = studentAgeRanges
          }}
        </div>
      </div>

      <div class="studentAgeDropdownContainer licensing-step-input-container">
        <label for="studentAgeDropdown">
          How many students do you have?
        </label>
        <div class="box box--flush dropdown licensing-step-control">
          {{
            student-count-dropdown
            id = 'stuentCountDropdown'
            selectedStudentAge=selectedStudentCount
            action = 'setStudentCount'
            studentCounts = studentCounts
          }}
        </div>
      </div>

    </div>

    <div class="output-col">
      {{#if requiredTeachers }}
        <div class="teachers-required-output licensing-step-output">

          <div class="inputs-display">
            <div class="student-count-display inputs-display-input">
              {{ requiredTeachers.studentCount.value }} students
            </div>
            <div class="age-range-display inputs-display-input">
              {{ requiredTeachers.ageRange.ageRange }}
            </div>
          </div>

          <div class="outputs-display">

            {{#if requiredTeachers.tooManyStudentsError }}
              <div class="tooManyStudentsError">
                Exceeds maximum group size of {{ requiredTeachers.ageRange.maxGroupSize }}
              </div>
            {{/if}}

            {{#unless requiredTeachers.tooManyStudentsError }}

              <div class="number-of-teachers-required display-entry">
                <div class="display-property">
                  Regulations:
                </div>
                <div class="display-value">
                  {{ requiredTeachers.ageRange.regulationNumber }} 
                </div>
              </div>

              <div class="number-of-teachers-required display-entry">
                <div class="display-property">
                  Teachers required:
                </div>
                <div class="display-value">
                  {{ requiredTeachers.numberOfTeachersRequired }} 
                </div>
              </div>

              <div class="number-of-teachers-required display-entry">
                <div class="display-property">
                  Qualifications:
                </div>
                <div class="display-value">
                  {{ requiredTeachers.ageRange.educatorQualifications }} 
                </div>
              </div>

              {{#if requiredTeachers.ageRange.notes }}
                <div class="number-of-teachers-required display-entry">
                  <div class="display-property">
                    Notes:
                  </div>
                  <div class="display-value">
                    {{ requiredTeachers.ageRange.notes }} 
                  </div>
                </div>
              {{/if}}

            {{/unless}}
          </div>
        </div>
      {{/if}}
    </div>

  </div>

</div>
