
<div class="teacher-requirements licensing-step">

  <div class="licensing-step-header">
    <h2>Teacher and Building Requirements by Student Age and Number of Students</h2>
  </div>

  <div class="licensing-step-body">

    <div class="licensing-step-input input-col">

      <div class="licensing-step-input-container">
        <label for="studentAgeDropdown">
          What age are your students?
        </label>
        <div class="box box--flush dropdown licensing-step-control">
          {{
            student-age-dropdown
            id = 'stuentAgeDropdown'
            selectedStudentAge=selectedStudentAge
            action = 'setStudentAge'
            studentAgeRanges = studentAgeRanges
          }}
        </div>
      </div>

      <div class="licensing-step-input-container">
        <label for="studentCountDropdown">
          How many students do you have?
        </label>
        <div class="box box--flush dropdown licensing-step-control">
          {{
            student-count-dropdown
            id = 'studentCountDropdown'
            selectedStudentAge=selectedStudentCount
            action = 'setStudentCount'
            studentCounts = studentCounts
          }}
        </div>
      </div>

    </div>

    <div class="output-col">
      {{#if requiredTeachers }}
        <div class="teachers-required-output licensing-step-output">

          <div class="inputs-display">
            <div class="student-count-display inputs-display-input">
              {{ requiredTeachers.studentCount }} students
            </div>
            <div class="age-range-display inputs-display-input">
              {{ studentAge.ageRange }}
            </div>
          </div>

          <div class="outputs-display">

            {{#if requiredTeachers.tooManyStudentsError }}
              <div class="display-entry error-message">
                Exceeds maximum group size of {{ studentAge.maxGroupSize }}
              </div>
            {{/if}}

            {{#unless requiredTeachers.tooManyStudentsError }}

              <div class="number-of-teachers-required display-entry">
                <div class="display-property">
                  Regulations:
                </div>
                <div class="display-value">
                  {{ studentAge.regulationNumber }} 
                </div>
              </div>

              <div class="number-of-teachers-required display-entry">
                <div class="display-property">
                  Teachers required:
                </div>
                <div class="display-value">
                  {{ requiredTeachers.numberOfTeachersRequired }} 
                </div>
              </div>

              <div class="number-of-teachers-required display-entry">
                <div class="display-property">
                  Minimum Educator Qualifications:
                </div>
                <div class="display-value">
                  {{ studentAge.educatorQualifications }} 
                </div>
              </div>

              <div class="number-of-teachers-required display-entry">
                <div class="display-property">
                  Minimum Admin Qualifications:
                </div>
                <div class="display-value">
                  {{ requiredTeachers.administrator.administratorQualifications }} 
                </div>
              </div>

              {{#if notes }}
                <div class="number-of-teachers-required display-entry">
                  <div class="display-property">
                    Notes:
                  </div>
                  <div class="display-value">
                    <div>
                      {{ studentAge.notes }}
                    </div>
                    <div>
                      {{ requiredTeachers.administrator.notes }}
                    </div>
                  </div>
                </div>
              {{/if}}

              <div class="number-of-teachers-required display-entry">
                <div class="display-property">
                  Min Square Ft:
                </div>
                <div class="display-value">
                  {{ requiredTeachers.squareFootage }} square feet 
                </div>
              </div>

            {{/unless}}
          </div>
        </div>
      {{/if}}
    </div>

  </div>

</div>
