<section class="l-sidebar l-sidebar--highlight">
    <article class="widget">
        <label class="widget-label" for="">Enter your school name:</label>
        {{input class='widget-label' type='text' value=name}}
    </article>
    <article class="widget">
        <label class="widget-label" for="">Choose a font:</label>
        {{view 'select' content=globalChoices.fonts
                        value=font
                        optionLabelPath="content.title"
                        optionValuePath="content.id"}}
    </article>
    <article class="widget">
        <span class="widget-label" for="">Choose up to 3 flowers:</span>
        <div class="box box--scroll">
            <div class="grid grid--three grid--lines">
                {{#each flower in globalChoices.flowers}}                                     
                <div class="grid-item"><button class="btn btn--image btn--highlight" {{action 'toggleFlower' flower}} {{bind-attr class=flower.selected}}><img {{bind-attr src=flower.location}}></button></div>
                {{/each}}
                <div class="gap"></div>
            </div>
            <!-- .grid -->
        </div>
        <!-- .box -->
    </article>
    <!-- .widget -->
    <article class="widget">
        <span class="widget-label">Choose a color palette</span>
        <div class="box">
            <div class="grid grid--three">
                {{#each palette in globalChoices.palettes}}
                    {{palette-box palette=palette setPalette='setPalette'}}
                {{/each}}
                <div class="gap"></div>
            </div>
            <!-- .grid -->
        </div>
        <!-- .box -->
    </article>
    <!-- .widget -->
    <article class="widget">
        <span class="widget-label">Choose an arrangement</span>
        <div class="box">
            <div class="grid grid--two">
                <div class="grid-item"><button class="btn btn--highlight"></button></div>
                <div class="grid-item"><button class="btn btn--highlight"></button></div>
                <div class="grid-item"><button class="btn btn--highlight"></button></div>
                <div class="grid-item"><button class="btn btn--highlight"></button></div>
            </div>
            <!-- .grid -->
        </div>
        <!-- .box -->
    </article>
    <!-- .widget -->
</section>
<!-- .l-sidebar -->

<main class="l-content" id="content">        
    <div class="logo" id="logo">
        <div class="flowers">
        {{#each flower in flowerObjects}}
            <img class="flower" {{bind-attr src=flower.location}} alt="" />
        {{/each}}
        </div>
        <div {{bind-attr class=":title-box font.className"}}>
            {{letter-split text=name palette=palette class='title'}}
            <div {{bind-attr class=":title-hide name::hide"}}>
            {{letter-split text='Montessori School' palette=palette class='subtitle'}}
            </div>
        </div>
    </div>
</main>
<!-- .l-content -->
